* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-block {
    width: 50%;
    background-color: #089FA6;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#login-img {
    height: 60%;
}

.right-block {
    width: calc(100% - 50%);
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.login-form {
    width: 400px;
    background-color: white;
    position: relative;
    margin-top: 26%;
}

.login-form h2 {
    font-weight: 700;
}

.login-form p {
    color: #AAAAAA;
}

#username {
    width: 100%;
    border-radius: 6px;
    height: 50px;
    border: 1px solid #AAAAAA;
    padding-left: 10px;
}

#ipassword {
    width: 100%;
    border-radius: 6px;
    height: 50px;
    border: 1px solid #AAAAAA;
    padding-left: 10px;
}

.login-form label {
    padding-top: 10px;
}

#remember-me {
    padding-top: 10px;
}

.login-btn {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #089FA6;
    border: #089FA6;
    margin-top: 20px;
    color: white;
}

.error {
    color: red;
}
